.btn {
  width: 30%;
  height: 40px;
}

.image :hover {
  opacity: 1;
}

.image.btn :hover {
  opacity: 1;
  transform: none;
}

.hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.5);
  opacity: 0;
  transition: all 0.5s;
}

.hover-overlay.btn {
  z-index: 1000;
  transition: all 0.5s;
}

.button.btn:first-of-type {
  transform: translateX(-20px);
}
.button.btn:last-of-type {
  transform: translateX(20px);
}
